all:
  hosts:
    bot:
      enable_plugins: yaml
      ansible_ssh_host: {{ HOSTIP }}
      ansible_ssh_port: 22
      ansible_ssh_user: foilv
      ansible_ssh_pass: "{{ USERPASS }}"
      ansible_become_password: "{{ ROOTPASS }}"